/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F1EFEC;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 0.97rem;
}

/* Header y Sidebar */
.header-custom {
    border-radius: 0 !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    text-align: center;
    background: #0f2c4c !important;
    margin: 0;
    padding: 1.5rem 0;
    color: #ffffff;
    width: 100%;
}

#accordionSidebar {
    background: #0f2c4c !important;
    margin-top: 0;
    position: fixed;
    height: 100vh;
    width: 225px;
    z-index: 1000;
}

#accordionSidebar.sidebar {
    background: #0f2c4c !important;
}

.sidebar-dark {
    background: #0f2c4c !important;
}

#accordionSidebar .nav-link {
    color: #f0f0f0 !important;
    padding: 1rem 1rem;
    font-size: 0.85rem;
}

#accordionSidebar .nav-link:hover {
    background: #1f3853 !important;
    color: #fff !important;
}

#accordionSidebar .nav-link i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

/* Layout */
#wrapper {
    display: flex;
}

#content-wrapper {
    min-height: 100vh;
    margin-left: 225px; /* Mismo ancho que el sidebar */
    width: calc(100% - 225px);
}

.main-content-custom {
    padding: 0;
    margin-top: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .main-content-custom {
        padding: 1rem;
    }
}

/* Contenedor principal */
.container {
    max-width: 400px;
    margin: 4% auto;
    padding: 70px;
    background-color: #d4c9beb4;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
}

/* Botones */
.boton {
    display: inline-block;
    text-decoration: none;
    background-color: #356386;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%; /* Botones ocupan todo el ancho */
    max-width: 400px; /* Máximo ancho */
}

.boton:hover {
    background-color: #274f6e;
    transform: scale(1.05);
}

.boton:active {
    background-color: #274f6e;
    transform: scale(0.95);
}