{% extends "index.html" %}

{% block title %}Confirmación de Visita{% endblock %}

{% block header %}
<div class="header-custom text-white px-4 py-3 d-flex flex-column align-items-center">
    <h1 class="h3 mb-1 font-weight-bold">

        Confirmación de Solicitud
    </h1>
    <span class="lead font-weight-semibold">
        Dirección de Turismo - Ciudad de Esperanza
    </span>
</div>
{% endblock %}

{% block content %}
    <div class="section">
        <h1>¡Solicitud enviada con éxito!</h1>
        <p>Gracias por enviar su solicitud de visita. Nos pondremos en contacto con usted pronto.</p>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
    </div>
{% endblock %}